[init]
    defaultBranch = cool

[pull]
    ff = only

[includeIf "gitdir:~/Downloads/mrsauravsahu/"]
    path = ~/.cli-config/profiles/mrsauravsahu/personal.gitconfig

[includeIf "gitdir:~/GenAI/"]
    path = ~/.cli-config/profiles/mrsauravsahu/personal.gitconfig

[includeIf "gitdir:~/.config/wezterm/"]
    path = ~/.cli-config/profiles/mrsauravsahu/personal.gitconfig

[includeIf "gitdir:~/.mrsauravsahu/"]
    path = ~/.cli-config/profiles/mrsauravsahu/personal.gitconfig

[includeIf "gitdir:~/.config/nvim/"]
    path = ~/.cli-config/profiles/mrsauravsahu/personal.gitconfig

[includeIf "gitdir:~/.cli-config/"]
    path = ~/.cli-config/profiles/mrsauravsahu/personal.gitconfig

[includeIf "gitdir:~/.homelab-pi/"]
    path = ~/.cli-config/profiles/mrsauravsahu/personal.gitconfig

[includeIf "gitdir:~/Documents/personal/"]
    path = ~/.cli-config/profiles/mrsauravsahu/personal.gitconfig

[includeIf "gitdir:~/Documents/work/"]
    path = ~/.cli-config/profiles/mrsauravsahu/work.gitconfig
